/* color variables  */
$k_white: #ffffff;
$k_black: #000000;
$k_grayblack: #000000;
$k_bg: #f3f6f9;

/* font color */
$k_title: #464a53;
$k_font: #6a707e;
$k_gray: #abafb3;
$k_lightgray: #dddfe1;
$k_icon: #aaaaaa;
$k_lightercolor: #f0f0f0;

/* for dashboard UI colors */
$k_primary: #686bf8;
$k_pastelred: #dc3545;

/* border color */
$k_lightborder: #dddfe1;
$k_grayborder: #d9d9d9;

/* table color */
$k_tbgcolor: #FAFAFA;

// Responsive View variables - Breakpoints for Media Query
$smallMobile: 320px;
$mobileSmall: 375px;
$mobile: 481px;
$mobileLarge: 576px;
$ipad: 768px;
$large: 991px;
$extraLarge: 1024px;
$desktop: 1366px;
