// Input CSS
.k_input-common {
    .k_input {
        width: 100%;
        background-color: $k_bg;
        padding: 18px 20px 18px 40px;
        border: none;
        position: relative;
        border-radius: 5px;
        outline: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        letter-spacing: 0.2px;
        @include defaultFontStyle(400, 15, 16, $k_icon);
        &-btn {
            position: absolute;
            left: 10px;
            top: 50%;
            @include defaultFontStyle(500, 16, 0, $k_icon);
        }
    }
    
    &-small {
        .k_input {
            width: 100%;
            background-color: $k_white;
            padding: 10px 40px 10px 0px;
            border-bottom: 1px solid $k_lightgray;
            border-radius: 0;
            &-btn {
                right: 10px;
                left: auto;
                top: 50%;
                color: $k_title;
            }
        }
    }
}
